@font-face {
font-family: "rainbow";
src: url("Rainbow2000-Regular.ttf");
}

@font-face {
  font-family: "indieflower";
  src: url("IndieFlower-Regular.ttf");
}

html, body {
  height: 100%;
  width: 100%;
}

body {
	padding-top: 15px;
  background-color: rgb(0, 0, 0);
font-family: "monospace";

}

table td:hover {
    background-color: rgba(0,0,0,.075);
}

.logo {
    margin-top: 10px;
    text-align: center;
}

thead {
color: #75cccc;
font-family: "rainbow";
font-size: 20px;
}

tr {
  color: #75cccc;
}
td {
  font-family: "indieflower";
  font-weight: lighter;
}
.table, .table-responsive{
color: #75cccc;
}
